/*  add -> formbox -> form  */

.add{
    padding-top: 8rem;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--addbg);
    position: relative;
    overflow: hidden;
}
.formbox{
    padding: 3rem 0;
}
.form{
    border-radius: 20px;
    width: 850px;
    margin: auto;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--addformbg);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px var(--formshadow);
}
.asdf{
    color: transparent;
}

/* --------------------------------------------balls----------------------------------------------------------- */

.addballs{
    position: absolute;
}
.addballa{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    bottom: -250px;
    right: -50px;
    box-shadow: inset -25px -15px 40px var(--ballinsetsh);
    background-image: radial-gradient(circle at top right, rgb(255, 185, 177), var(--redball), var(--redball));
    filter:drop-shadow(0 0 50px var(--redballsh)) drop-shadow(0 0 500px var(--redballsh)) ;

}
.addballb{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: -20px;
    left: 250px;
    /* background-color: var(--navlink2); */
    box-shadow: inset -25px -15px 40px var(--ballinsetsh);
    background-image: radial-gradient(circle at top left, rgb(249, 255, 216), var(--yellowball), var(--yellowball));
    filter:drop-shadow(0 0 50px var(--yellowballsh)) drop-shadow(0 0 500px var(--yellowballsh)) ;

}
.addballc{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    top: 125px;
    left: 900px;
    /* background-color: var(--navlink3); */
    box-shadow: inset -25px -15px 40px var(--ballinsetsh);
    background-image: radial-gradient(circle at top, rgb(255, 202, 248), var(--pinkball), var(--pinkball));
    filter:drop-shadow(0 0 50px var(--pinkballsh)) drop-shadow(0 0 500px var(--pinkballsh)) ;
}
.addballd{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    top: 110px;
    left: -480px;
    background-color: var(--navlink1);
    box-shadow: inset -25px -15px 40px var(--ballinsetsh);
    background-image: radial-gradient(circle at top left, rgb(249, 255, 216), var(--greenball), var(--greenball));
    filter:drop-shadow(0 0 50px var(--greenballsh)) drop-shadow(0 0 500px var(--greenballsh)) ;
}




/* --------------------------------------------avatar----------------------------------------------------------- */
.avatarimages{
    position: relative;
    padding: 1rem;
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.chooseavatar{
    color: var(--chooseavatar);
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    left: 5px;
}
.addlabel{
    /* border: 1px solid white; */
    position: relative;
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.addinput{
    appearance: none;
}
.addimg{
    width: 100px;
    border-radius: 50%;
}
.addlabel .addinput:checked ~ .addimg{
    background-color: var(--avatarchecked);
    box-shadow: 0 0 5px var(--avatarsh), 0 0 25px var(--avatarsh), 0 0 50px var(--avatarsh), 0 0 200px var(--avatarsh);
}

/* ----------------------------------------------left box--------------------------------------------------------- */
.addleftbox{
    position: relative;
    width: 48%;
    padding: 1rem;
}
.addleftbox input{
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--inputborder);
    padding: 1.7rem 0.3rem 0.3rem 0.3rem;
    width: 90%;
    font-size: 1rem;
    background-color: transparent;
    color: var(--inputtextclr);
}
.addleftbox input::placeholder{
    transition: all 0.4s;
}
.addleftbox input:hover::placeholder{
    transform: translateY(-20px);
    color: var(--inputtextclr);
}
.addleftbox input:focus::placeholder{
    color: transparent;
}
.addleftbox input:hover{
    border-bottom: 2px solid var(--inputtextclr);
}

/* -------------------------------------------------right box------------------------------------------------------ */
.addrightbox{
    width: 48%;
    padding: 1rem 1rem 2.5rem;
}
.agegenderflex{
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.addrightbox input{
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--inputborder);
    padding: 1.7rem 0.3rem 0.3rem 0.3rem;
    width: 44%;
    font-size: 1rem;
    background-color: transparent;
    color: var(--inputtextclr);
}
.addrightbox input::placeholder{
    transition: all 0.4s;
}
.addrightbox input:hover::placeholder{
    transform: translateY(-20px);
    color: var(--inputtextclr);
}
.addrightbox input:focus::placeholder{
    color: transparent;
}
.addrightbox input:hover{
    border-bottom: 2px solid var(--inputtextclr);
}

/* ---------------------select gender---------------------- */
.addselect{
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--inputborder);
    background-color: transparent;
    padding: 0 0.3rem 0.3rem 0.3rem;
    margin-top: 1.7rem;
    width: 44%;
    color: var(--inputtextclr);
    font-size: 1rem;
}
.addselect option{
    background-color: var(--optionbg);
    color: black;
}

/* ---------------------textarea---------------------- */
.addrightbox textarea{
    margin-top: 2rem ;
    width: 90%;
    outline: none;
    background: transparent;
    border: none;
    border-left: 2px solid var(--inputborder);
    border-bottom: 2px solid var(--inputborder);
    color: var(--inputtextclr);
    padding: 0.5rem 1rem;
    font-size: 1rem;
}


/* ---------------------button---------------------- */

.submitbutton {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 13px 30px;
    width: 50%;
    color: var(--submitbtnclr);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.5s;
}
.submitbutton:hover {
    font-weight: 500;
    background: var(--submitbtn);
    box-shadow: 0 0 10px var(--submitbtnsh), 0 0 30px var(--submitbtnsh), 0 0 60px var(--submitbtnsh);
    transition-delay: 1s;
}
.submitbutton span {
    position: absolute;
    display: block;
}
.submitbutton span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, var(--submitbtn));
}
.submitbutton:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}
.submitbutton span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, var(--submitbtn));
}
.submitbutton:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.submitbutton span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--submitbtn));
}
.submitbutton:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.submitbutton span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--submitbtn));
}
.submitbutton:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */


@media (min-width: 0) and (max-width: 391px){
    .add{
        height: auto;
        width: 101vw;
    }
    .addballs{
        position: absolute;
    }
    .addballa{
        width: 200px; 
        height: 200px;
        border-radius: 50%;
        bottom: -50px;
        left: -50px;
        box-shadow: inset -5px -5px 20px var(--ballinsetsh);
        background-image: radial-gradient(circle at top right, rgb(255, 185, 177), var(--redball), var(--redball));
        filter:drop-shadow(0 0 50px var(--redballsh)) drop-shadow(0 0 350px var(--redballsh)) ;
    
    }
    .addballb{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        bottom: 100px;
        left: 290px;
        box-shadow: inset -5px -5px 10px var(--ballinsetsh);
        background-image: radial-gradient(circle at top left, rgb(249, 255, 216), var(--yellowball), var(--yellowball));
        filter:drop-shadow(0 0 50px var(--yellowballsh)) drop-shadow(0 0 450px var(--yellowballsh)) ;
    
    }
    .addballc{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        top: 180px;
        left: 200px;
        box-shadow: inset -25px -15px 40px var(--ballinsetsh);
        background-image: radial-gradient(circle at top, rgb(255, 202, 248), var(--pinkball), var(--pinkball));
        filter:drop-shadow(0 0 50px var(--pinkballsh)) drop-shadow(0 0 400px var(--pinkballsh)) ;
    }
    .addballd{
        width: 600px;
        height: 600px;
        border-radius: 50%;
        top: 140px;
        left: -480px;
        background-color: var(--navlink1);
        box-shadow: inset -25px -15px 40px var(--ballinsetsh);
        background-image: radial-gradient(circle at top left, rgb(249, 255, 216), var(--greenball), var(--greenball));
        filter:drop-shadow(0 0 50px var(--greenballsh)) drop-shadow(0 0 500px var(--greenballsh)) ;
    }
    .formbox{
    }
    .form{
        width: 95vw;
        outline: none;
    }
    .asdf{
        display: none;   
    }
    .addlabel{
        width: 55px;
        height: 55px;
    }
    .addimg{
        width: 50px;
    }
    .addleftbox{
        width: 100%;
    }
    .addrightbox{
        width: 100%;
    }
    .addselect option{
        font-size: 12.5px;
    }
    .agegenderflex{
        justify-content: space-between;
    }
    .submitbutton{
        width: 90%;
        margin-bottom: 1rem;
    }

}







































